[parity]
chain = "{{ home }}/spec.json"

[rpc]
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc"]
processing_threads = {{ processor_count }}
cors=["all"]

[websockets]
disable = true

[ipc]
disable = true

[ui]
disable = true

[network]
reserved_peers = "{{ home }}/bootnodes.txt"
discovery = false

[misc]
log_file = "{{ home }}/logs/parity.log"
# Logging pattern (`<module>=<level>`, e.g. `own_tx=trace`).
logging = "miner=trace,own_tx,tx_queue=trace"