[parity]
chain = "{{ home }}/spec.json"

[rpc]
interface = "0.0.0.0"
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc"]
processing_threads = {{ core_count.stdout | int }}
cors=["all"]

[websockets]
disable = false
interface = "0.0.0.0"
hosts = ["all"]
origins = ["all"]
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc", "pubsub"]

[ipc]
disable = false
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc"]
path = "/tmp/parity.ipc"

[ui]
disable = true

[network]
reserved_peers = "{{ home }}/bootnodes.txt"
discovery = false

[account]
password = ["{{ home }}/node.pwd"]
unlock = ["0x{{ account.stdout }}"]

[mining]
tx_queue_size = 65536
tx_queue_mem_limit = 64

[misc]
log_file = "{{ home }}/logs/parity.log"
# Logging pattern (`<module>=<level>`, e.g. `own_tx=trace`).
logging = ""