---
- name: 'Install python2'
  raw: sudo apt-get -y install python-simplejson

- name: 'Install scripts dependencies'
  raw: curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py && sudo python ./get-pip.py && sudo pip install py-cpuinfo

- name: 'Copy fetch_cpu_info.py script'
  copy: dest=/home/ubuntu/ src=fetch_cpu_info.py owner=ubuntu group=ubuntu mode=755

- name: Collect CPU info
  script: "./fetch_cpu_info.py {{name}}"
  register: cpu_info

- name: Write CPU info
  lineinfile:
    path: ./tmp/latest/cpu_map.yml
    line: "{{ cpu_info.stdout }}"
    create: yes
  delegate_to: localhost

- name: Upgrade packages
  become: true
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 3600

- name: Install ntpdate
  become: true
  apt:
    name:
      - ntp

- name: Stop NTP server
  become: true
  service: name=ntp state=stopped

- name: Sync time with ntp server
  become: true
  shell: "ntpdate 0.nl.pool.ntp.org"

- name: Start NTP server
  become: true
  service: name=ntp state=started
