[parity]
chain = "{{ home }}/spec.json"
no_persistent_txqueue = true

[rpc]
disable = true

[websockets]
disable = true

[ipc]
disable = true

[ui]
disable = true

[network]
reserved_peers = "{{ home }}/bootnodes.txt"
discovery = false

[account]
password = ["{{ home }}/node.pwd"]

[mining]
usd_per_tx = "0"
engine_signer = "0x{{ account.stdout }}"
min_gas_price = 1000000000
gas_floor_target = "6700000000"
tx_queue_size = 65536
tx_queue_mem_limit = 64
force_sealing = true
reseal_on_txs = "none"
notify_work = ["http://localhost:8080/workpackage"]

[dapps]
disable = true

[misc]
log_file = "{{ home }}/logs/parity.log"
# Logging pattern (`<module>=<level>`, e.g. `own_tx=trace`).
logging = "miner=info"