[parity]
chain = "{{ home }}/spec.json"

[rpc]
# TODO: replace with 127.0.0.1
interface = "0.0.0.0"
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc"]
processing_threads = {{ processor_count }}
cors=["all"]

# TODO: disable websockets
[websockets]
interface = "0.0.0.0"
hosts = ["all"]
origins = ["all"]
apis = ["web3", "eth", "parity", "parity_set", "personal", "net", "traces", "rpc"]
disable = false

[ipc]
disable = true

[ui]
# TODO: remove interface replace with false
interface = "0.0.0.0"
disable = false

[network]
reserved_peers = "{{ home }}/bootnodes.txt"
discovery = false

[account]
password = ["{{ home }}/node.pwd"]

[mining]
engine_signer = "0x{{ account.stdout }}"
reseal_on_txs = "none"

[misc]
log_file = "{{ home }}/logs/parity.log"
# Logging pattern (`<module>=<level>`, e.g. `own_tx=trace`).
logging = "miner=trace,own_tx,tx_queue=trace"