<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/scripts/web3.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.2.js"></script>
    <script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.1.0/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.1.0/eon.css"/>
    <script>
        let elMap = <%- JSON.stringify(elMap) %>;
        let hostsMap = <%- JSON.stringify(hostsMap) %>;
    </script>
    <script src="./scripts/script.js"></script>
</head>
<body>
<h4>Peer agent performance:</h4>
<div id="peers"></div>
<h4>Tx queue:</h4>
<div id="txqueue"></div>
</body>
</html>