{
  "me": {
    "name": "{{ name }}",
    "address": "0x{{ address.stdout }}",
{% if type == 'validator' %}
    "password": "vpeers/{{ name }}"
{% else %}
    "password": "{{ name }}"
{% endif %}
  },
  "endpoints": {
    "rpc": "127.0.0.1:8545",
    "ws": "ws://127.0.0.1:8546",
    "ipc": "/tmp/parity.ipc"
  },
  "peerKey": "{{ home }}/.local/share/io.parity.ethereum/keys/{{ genesis_network_name }}/peer.key",
  "logs": "{{ home }}/logs/agent.log",
  "tickerLog": "{{ home }}/logs/agent-ticks.log",
  "secret": "{{ agent_secret }}",
  "txLimit": 100000,
  "workersCount": {{ processor_count * 5 }}
}