{
  "me": {
    "name": "{{ name }}",
    "address": "0x{{ address.stdout }}",
{% if type == 'validator' %}
    "password": "vpeers/{{ name }}"
{% else %}
    "password": "{{ name }}"
{% endif %}
  },
  "rpcEndpoint": "127.0.0.1:8545",
  "secret": "{{ agent_secret }}",
  "txLimit": 3000,
  "workersCount": {{ processor_count * 2 }}
}