[Unit]
Description=POA LoadTest Agent Daemon
After=network.target

[Service]
ExecStart=/home/ubuntu/agent
User=ubuntu
Group=ubuntu
Restart=on-failure
WorkingDirectory=/home/ubuntu

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives parity time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target